<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
<div class="container-fluid">
    <a class="navbar-brand" href="index.html">PLACEHOLDER NAME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-80">
            <li class="nav-item"> 
                <a class="nav-link" href="question-enter.html">Ask Questions</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" href="question-answer.html">Answer Questions</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" href="forum.html">Forum</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" href="profile.html">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="signup-login.html">Sign Up/Login</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" href="contact.html">Contact/Help</a>
            </li>
        </ul>
    </div>
</div>
</nav>

